/*  your css code here. If applicable */
.box{
	height: 200px;
	width: 200px;
	border: 2px solid black;
	background-color: lightblue;
	color: purple;
	position:  relative;
	left: 100px;
	top: 100px;
	text-align: center;
	
}